<h2 mat-dialog-title>{{ data.title }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div *ngIf="mode() !== dialogMode.Create" class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>Id</mat-label>
        <input matInput type="text" readonly formControlName="id" />
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          [readonly]="viewOnly()"
          [minlength]="firstNameMinLength"
          [maxlength]="firstNameMaxLength"
          formControlName="firstName"
        />
        <!-- <mat-icon matSuffix>text_fields</mat-icon> -->
        @if (firstName?.invalid) {
        <mat-error>{{ firstNameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          [readonly]="viewOnly()"
          [minlength]="lastNameMinLength"
          [maxlength]="lastNameMaxLength"
          formControlName="lastName"
        />
        <!-- <mat-icon matSuffix>text_fields</mat-icon> -->
        @if (lastName?.invalid) {
        <mat-error>{{ lastNameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" readonly formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            type="text"
            [readonly]="viewOnly()"
            formControlName="phoneNumber"
          />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Format: +1234567890</mat-hint>
          @if (phoneNumber?.invalid) {
          <mat-error>{{ phoneNumberErrorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-md-0 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            type="text"
            [readonly]="viewOnly()"
            formControlName="dateOfBirth"
            [matDatepicker]="dob"
          />

          <mat-hint>YYYY/MM/DD</mat-hint>
          <mat-datepicker-toggle
            class="me-2"
            matIconSuffix
            [for]="dob"
          ></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
          @if (dateOfBirth?.invalid) {
          <mat-error>{{ dateOfBirthErrorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-md-0 mb-3 text-end">
        <p>
          <mat-slide-toggle
            formControlName="emailConfirmed"
            labelPosition="before"
            aria-label="email confirmed"
            >Email confirmed</mat-slide-toggle
          >
        </p>
      </div>

      <div class="col-md-6 mb-md-0 mb-3 text-end">
        <p>
          <mat-slide-toggle
            labelPosition="before"
            formControlName="isActive"
            aria-label="is active"
            >Is active</mat-slide-toggle
          >
        </p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button
      *ngIf="!viewOnly()"
      type="submit"
      mat-flat-button
      [disabled]="form.invalid"
    >
      Save
    </button>
    @if (viewOnly() && !isDefaultUser()) {
    <button
      (click)="onEdit()"
      *appHasPermission="editPermission"
      type="button"
      mat-flat-button
    >
      Edit
    </button>
    }
  </mat-dialog-actions>
</form>
