<h2 mat-dialog-title>Edit your details</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          [minlength]="firstNameMinLength"
          [maxlength]="firstNameMaxLength"
          formControlName="firstName"
        />
        <mat-icon matSuffix>text_fields</mat-icon>
        @if (firstName?.invalid) {
        <mat-error>{{ firstNameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          [minlength]="lastNameMinLength"
          [maxlength]="lastNameMaxLength"
          formControlName="lastName"
        />
        <mat-icon matSuffix>text_fields</mat-icon>
        @if (lastName?.invalid) {
        <mat-error>{{ lastNameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" readonly formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Format: +1234567890</mat-hint>
          @if (phoneNumber?.invalid) {
          <mat-error>{{ phoneNumberErrorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-md-0 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            type="text"
            formControlName="dateOfBirth"
            [matDatepicker]="dob"
          />

          <mat-hint>YYYY/MM/DD</mat-hint>
          <mat-datepicker-toggle
            class="me-2"
            matIconSuffix
            [for]="dob"
          ></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
          @if (dateOfBirth?.invalid) {
          <mat-error>{{ dateOfBirthErrorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-flat-button [disabled]="form.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
