<div class="d-flex flex-md-row flex-column m-3">
  <div class="text-start">
    <h2>{{ pageTitle }}</h2>
  </div>
  <div class="d-md-flex flex-md-fill d-none"></div>
  <div class="text-end mt-md-0 mt-2">
    <button
      *appHasPermission="roleReadPermission"
      class="me-2"
      mat-flat-button
      [disabled]="selected().length !== 1"
      (click)="viewUserRoles()"
    >
      <mat-icon>work_update</mat-icon>View User Roles
    </button>
    <button
      *appHasPermission="roleManagePermission"
      mat-flat-button
      [disabled]="selected().length === 0"
    >
      <mat-icon>work_update</mat-icon>Assign Roles
    </button>

    <!-- <button mat-flat-button><mat-icon>add</mat-icon>Add</button> -->
  </div>
</div>

<div class="d-flex flex-row justify-content-center overflow-x-auto mx-3">
  <app-table
    class="overflow-auto"
    [dataSource]="dataSource"
    [fields]="fields"
    [columns]="columns"
    [(page)]="page"
    [(pageSize)]="pageSize"
    [(searchTerm)]="searchTerm"
    [(sortBy)]="sortColumn"
    [(sortOrder)]="sortOrder"
    [multipleSelectEnabled]="true"
    [actionsEnabled]="true"
    [canView]="permissionService.hasPermission(permissions.read)"
    [canChangeStatus]="
      permissionService.hasPermission(permissions.statusChange)
    "
    [canEdit]="permissionService.hasPermission(permissions.edit)"
    [canDelete]="permissionService.hasPermission(permissions.delete)"
    (selectionChange)="getSelection($event)"
    (onView)="view($event)"
    (onEdit)="edit($event)"
    (onDelete)="delete($event)"
    (onActivate)="activate($event)"
    (onDeactivate)="deactivate($event)"
  ></app-table>
</div>
