<mat-toolbar>
  <mat-toolbar-row>
    @if (user()) {
    <button
      class="mx-1"
      mat-icon-button
      matTooltip="{{ tooltips.sideMenuToggle }}"
      aria-label="Side menu toggle button"
      (click)="sideNavService.toggleNavBar()"
    >
      <!-- <i class="bi bi-list"></i> -->
      <mat-icon>menu</mat-icon>
    </button>
    } @if (!sideNavService.sideNavStatus()) {
    <strong>{{ appName }}</strong>
    }

    <div class="flex-stretch"></div>

    <button
      mat-icon-button
      class="mx-1"
      matTooltip="{{ tooltips.userMenu }}"
      aria-label="User menu button"
      [mat-menu-trigger-for]="userMenu"
    >
      @if (user()) {
      <mat-icon class="user-initials"
        ><strong>{{ user()?.initials }}</strong></mat-icon
      >
      }@else {
      <mat-icon>person</mat-icon>
      }
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="themeMenu"
      matTooltip="{{ tooltips.themeSelector }}"
      aria-label="Select theme button"
    >
      <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
    </button>
  </mat-toolbar-row>

  @if (user()) {
  <mat-toolbar-row>
    <div class="mx-1">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </mat-toolbar-row>
  }
</mat-toolbar>

<mat-menu #themeMenu="matMenu">
  @for (theme of themeService.getThemes(); track theme.label) {
  <button mat-menu-item (click)="themeService.setTheme(theme.label)">
    <mat-icon>{{ theme.icon }}</mat-icon>
    <span>{{ theme.name }}</span>
  </button>
  }
</mat-menu>

<mat-menu #userMenu="matMenu">
  @if (user()) {
  <button mat-menu-item routerLink="{{ userRoutes.userProfile }}">
    <mat-icon>person</mat-icon>
    <span>{{ userMenuNames.profile }}</span>
  </button>
  <button mat-menu-item routerLink="{{ userRoutes.userSettings }}">
    <mat-icon>settings</mat-icon>
    <span>{{ userMenuNames.settings }}</span>
  </button>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span>{{ userMenuNames.logout }}</span>
  </button>
  }@else {
  <button mat-menu-item routerLink="{{ userRoutes.userLogin }}">
    <mat-icon>login</mat-icon>
    <span>{{ userMenuNames.login }}</span>
  </button>
  <button mat-menu-item routerLink="{{ userRoutes.userRegistration }}">
    <mat-icon>person_add</mat-icon>
    <span>{{ userMenuNames.register }}</span>
  </button>
  }
</mat-menu>
