// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "bootstrap/scss/bootstrap-grid.scss"; // Add .container and .container-fluid classes
@use "bootstrap/scss/bootstrap-utilities.scss"; // Add the grid system
@use "bootstrap-icons/font/bootstrap-icons.css";

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: -2,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
